#scaleDiv {
    transform-origin: 1px 1px;
    overflow: auto;

}


#widgetScale {
    width: 20%;
    transform-origin: 1px 1px;
}

#widgetContain {
    float: left;
    margin-left: 5%;
}

#coord {
    margin-left: 5%;
}



canvas {
    image-rendering: pixelated;
    overflow: hidden;
}

#containment {
    width: 75%;
    overflow: auto;
    float: left;
    margin: 0 0;
}