#scaleDiv {
    transform-origin: top left;
    overflow: auto;

}

#widgetScale {
    transform-origin: top left;
    overflow: auto;
}

#testBox {
    height: 200px;
    width: 200px;
    background: black;
}

canvas {
    image-rendering: pixelated;
    overflow: hidden;
}

#containment {
    width: 75%;
    overflow: auto;
}